<style>
     .inner-table, .inner-table tr, .inner-table td{
        border: 0px solid transparent;

     }
     ul{
        margin: 0px;
     }
</style>
<table width="525">
    <tbody>
        <tr>
            <td><strong>Policy Benefits</strong></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Hospital Charges</li>
                    <li>Doctors Fees</li>
                    <li>Surgical Costs</li>
                    <li>Medicine/Pharmaceutical Cost</li>
                    <li>Laboratory Costs and other benefits</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <table class="inner-table">
                    <tbody >
                        <tr>
                            <td>
                                <ul>
                                    <li>Hospital ward charges<span style="font-size: 0.8em;"> (up to a maximum of 10
                                            days)</span></li>
                                </ul>
                            </td>
                            <td>Rs. 4,000/=<span style="font-size: 0.8em;"> per day</span></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Hospital charges<span style="font-size: 0.8em;"> (Registration fees,
                                            administrative fee,
                                            medicines and care)</span></li>
                                </ul>
                            </td>
                            <td>Rs. 30,000/=</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Theatre charges</li>
                                </ul>
                            </td>
                            <td>Rs. 7,500/=</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Surgeon's fees</li>
                                </ul>
                            </td>
                            <td>Rs. 25,000/=</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Anaesthesioligist fees</li>
                                </ul>
                            </td>
                            <td>Rs. 5,000/=</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Specialist consultant's fees</li>
                                </ul>
                            </td>
                            <td>Rs. 5,000/=</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td><strong>Medical Testing and Examination</strong></td>
        </tr>
        <tr>
            <td>
                <table class="inner-table" style="width: 99.775%;">
                    <tbody>
                        <tr>
                            <td style="width: 72.2508%;">
                                <ul>
                                    <li>Less than 3 days</li>
                                </ul>
                            </td>
                            <td style="width: 117.302%;">Rs. 5,000/=</td>
                        </tr>
                        <tr>
                            <td style="width: 72.2508%;">
                                <ul>
                                    <li>3 days or more</li>
                                </ul>
                            </td>
                            <td style="width: 117.302%;">Rs. 15,500/=</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td><strong>Admittance at a Government Hospital <b>- Expenses incurred for additional drugs and
                        medical examination</b></strong></td>
        </tr>
        <tr>
            <td>
                <table class="inner-table" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 71.068%;">
                                <ul>
                                    <li>Per day charges at Government hospital.</li>
                                </ul>
                            </td>
                            <td style="width: 27.3786%;">750 per day. 21 days.</td>
                        </tr>
                        <tr>
                            <td style="width: 71.068%;">
                                <ul>
                                    <li>Expenses incurred for additional drugs and medical examination</li>
                                </ul>
                            </td>
                            <td style="width: 27.3786%;">Rs. 2,000/=</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td><strong>Age Limit</strong></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Sri Lankan citizens between the ages of 18-55 are eligible</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>Annual Premium</strong></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>The annual fee for a Suwasiri Health Insuarance policy is Rs. 2,222/- <span
                            style="font-size: 0.8em;">(inclusive of taxes)</span></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>